{% extends 'layouts/layout.html.twig' %}
{% block title %}Ceny na usługi{% endblock %}
{% block content %}


<div style="text-align: center;"><h2>Strona z informacją o mnie</h2></div>





<p class="main-p"><a class="btn btn-secondary" href="{{path('home_index')}}">Powrót do strony głownej &raquo;</a></p>

{% endblock %}