{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <section style="padding-top: 100px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h1 style="font-size: 100px">500</h1>
                    <h2>Coś poszło nie tak</h2>
                    <p>Proszę skontaktować się w sprawie tego blędu. Naprawimy jak najszybciej!</p>
                    <a href="{{ path('home_index') }}" class="btn btn-primary">Strona domowa</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
